#main {
	width: 800px;
	margin:0 auto;
}

#container {
	border: 2px solid #c3c3c3;
	margin-top: 25px;
	padding: 10px;
	font: Georgia;
	color:#293040;
}

#main h2 {
	font-size: 1.3em;
	color:#577F0D;
	margin: 10px 0 20px 0;
}

#main p {
	padding: 15px 0;
}

#main h3 {
	font-size: 1.2em;
	color:#2D45FF;
}